.vscode/
data/
env7/
logs/
*.log
*.tmp
.env
.DS_Store
node_modules/
dist/
coverage/
.idea/
*.iml
*.swp
*.bak
*.orig
*.class
*.exe
*.dll
*.so
*.pyc
__pycache__/
*.sqlite
*.db
*.zip
*.tar.gz
*.rar
*.7z
*.log.*
thumbs.db
